%html
  %head
    %title WeMeme: Humane Link Propagation
    %link{:rel => 'stylesheet', :href => url('/stylesheets/screen.css') }
  %body
    #container
      %header
        %h1
          %a{:href => url('/')} WeMeme

        - if signed_in?
          #current-user
            Hello,
            != haml :inline_user, :locals => { :user => current_user }

          %a#logout{:href => url('/logout')} Log Out

        - else
          #sign-in
            Sign in with:

            %br

            %a#username-login{:href => url('/login')} Username

      - if flash
        #messaging
          - if flash[:error]
            .error= flash[:error]

          - if flash[:notice]
            .notice= flash[:notice]

      %section#content
        != yield

      %footer
        AGPL etc.
