#login-form
  %h2 Log In

  %form{:action => url('/login'), :method => 'post'}
    .form-item
      %label{:for => 'username'} Username:
      %input{:name => 'username', :id => 'username'}

    .form-item
      %label{:for => 'password'} Password:
      %input{:name => 'password', :id => 'password', :type => 'password'}

    .form-item
      %input{:type => 'submit', :value => 'Log in'}

#signup-form
  %h2 Sign Up

  %form{:action => url('/accounts'), :method => 'post'}
    .form-item
      %label{:for => 'username'} Username:
      %input{:name => 'username', :id => 'username'}

    .form-item
      %label{:for => 'password'} Password:
      %input{:name => 'password', :id => 'password', :type => 'password'}

    .form-item
      %label{:for => 'password-again'} Again:
      %input{:name => 'password-again', :id => 'password-again', :type => 'password'}

    .form-item
      %input{:type => 'submit', :value => 'Sign up'}
