@import "blueprint/reset";
@import "blueprint/grid";
@import "blueprint/typography";
@import "compass/layout/grid-background";
@import "compass/typography/vertical_rhythm";
@import "compass/typography/lists/bullets";

@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";

$blueprint-font-size: 16px;
$small-font-size:     $blueprint-font-size * 0.8;

$accent-colour: #cdc;

$button-foreground-colour: #e8f0de;
$button-border-colour: #538312;

$button-colour-1: #7db72f;
$button-colour-2: #4e7d0e;

$button-focus-colour-1: #6b9d28;
$button-focus-colour-2: #436b0c;

$button-active-colour-1: #4e7d0e;
$button-active-colour-2: #7db72f;

@mixin cool-button-gradient {
	color: $button-foreground-colour;
	border: solid 1px $button-border-colour;

  @include background(linear-gradient($button-colour-1, $button-colour-2));

  &:hover, &:focus {
    @include background(linear-gradient($button-focus-colour-1, $button-focus-colour-2));
  }

  &:active {
    @include background(linear-gradient($button-active-colour-1, $button-active-colour-2));
  }
}

@mixin cool-button {
  @include cool-button-gradient;

	@include text-shadow(0 1px 1px rgba(0,0,0,.3));
  @include border-radius(.5em, .5em);
  @include box-shadow(0 1px 2px rgba(0,0,0,.2));

	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: .3em 1em .33em;

  &:hover, &:focus {
    text-decoration: none;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

@include blueprint-typography;

#container {
  @include container;
  @include establish-baseline;
}

#header {
  @include padding-leader(1);
  @include clearfix;
  background: $accent-colour;
  padding-left: 1em;

  h1 {
    @include column(18);
  }

  #sign-in {
    @include column(6, true);

    @include adjust-font-size-to($small-font-size);
  }
}

#content {
//  @include grid-background;
  @include column(24);
  @include leader(1);
}

input {
  border: 1px solid $accent-colour;
}

input[type=submit] {
  @include cool-button;
}

#logout {
  @include cool-button;
}

span.user img {
  vertical-align: top;
}

.new-entry {
  @include prepend(1);
  @include trailer(1);
}

.entry {
  @include prepend(1);

  .emit {
    @include column(1);
    @include adjust-font-size-to($small-font-size);
    text-align: right;
  }

  .others {
    @include prepend(1);

    ul {
      @include prepend(0.5);
      @include no-bullets;
    }
  }
}

#login-form, #signup-form {
  @include push(2);
  @include leader(1);
  @include trailer(1);
  @include padding-leader(1);
  @include padding-trailer(1);
  @include column(9);

  h2 {
    text-align: center;
  }

  .form-item {
    @include trailer(1);
  }

  label {
    @include column(4);
    text-align: right;
  }

  input {
    @include column(4, true);
  }

  input[type='submit'] {
    @include push(4);
  }

  .form-item {
    @include clearfix;
  }
}

#footer {
  @include leader(1);
  @include adjust-font-size-to($small-font-size);
}
