@import "blueprint/reset";
@import "blueprint/grid";
@import "blueprint/typography";
@import "compass/layout/grid-background";
@import "compass/typography/vertical_rhythm";
@import "compass/typography/lists/bullets";
@import "blueprint/buttons";

$blueprint-font-size: 16px;
$small-font-size:     $blueprint-font-size * 0.8;

$accent-colour: #cdc;

@include blueprint-typography;

#container {
  @include container;
  @include establish-baseline;
}

#header {
  @include padding-leader(1);
  @include clearfix;
  background: $accent-colour;

  h1 {
    @include column(18);
  }

  #sign-in {
    @include column(6, true);

    @include adjust-font-size-to($small-font-size);

    #username-login {
      @include button-button;
    }
  }
}

.content {
//  @include grid-background;
  @include column(24);
  @include leader(1);
}

span.user img {
  vertical-align: top;
}

.entry {
  @include prepend(1);

  .emit {
    @include column(1);
    @include adjust-font-size-to($small-font-size);
    text-align: right;
  }

  .others {
    @include prepend(1);

    ul {
      @include prepend(0.5);
      @include no-bullets;
    }
  }
}

#login-form, #signup-form {
  @include push(2);
  @include leader(1);
  @include trailer(1);
  @include padding-leader(1);
  @include padding-trailer(1);
  @include column(9);

  h2 {
    text-align: center;
  }

  .form-item {
    @include trailer(1);
  }

  label {
    @include column(4);
    text-align: right;
  }

  input {
    @include column(4, true);
  }

  input[type='submit'] {
    @include push(4);
  }

  .form-item {
    @include clearfix;
  }
}

#footer {
  @include leader(1);
  @include adjust-font-size-to($small-font-size);
}
