#pool
  %h2= "#{@user.username} Pool"

  %form.new-entry{:action => url('/linkings'), :method => 'post'}
    New entry:
    %input{:name => 'url',     :placeholder => 'URL'}
    %input{:name => 'summary', :placeholder => 'Title'}
    %input{:type => 'submit'}

  - @user.linkings.each do |l|
    .entry
      %span.emit
        %a{:href => '#'} emit

      %a.title{:href => '#'}= l.summary

      %span.when= l.created_at.ago_in_words
